<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include head.ejs %>
    <link rel='stylesheet' href='/stylesheets/mono.css' />
    <!-- script src="/javascripts/mono.js"></script -->
  </head>
  <body>
  <div class="container">
		<%- include header.ejs %>
		<div class="content">
		
		</div>
		<%- include footer.ejs %>
	</div>
  </body>
</html>