<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>New Employee</h1>
<div class="newemployee">
<form method="post">
<div>
	<div>
		<span class="label">Title :</span>
		<input type="text" name="title" id="editEmployeeTitle">
	</div>
	<div>
		<span class="label">Name :</span>
		<input type="text" name="name" id="editEmployeeName">
	</div>
	<div id="editEmployeeSubmit">
		<input type="submit" value="Save">
	</div>
</div>
</form>
<a href="/">Back to Employee List</a>
</div>
</body>
</html>