<footer class='sixteen columns'>
	<div class='eight columns alpha copyright'>&copy; Artistic.ly </div>
	<div class='eight columns omega contact'>
		<span class='blog'>
			<a href="http://artistic.ly/">artistic.ly</a>
		</span> 
		<span class='twitter'>
			<a href="http://twitter.com/artistic_ly" target="_blank">@artistic_ly</a>
		</span>
	</div>
</footer>
<script src="/javascripts/start.js"></script>