<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include head_form.ejs %>
    <style id="clearly_highlighting_css" type="text/css">/* selection */ html.clearly_highlighting_enabled ::-moz-selection { background: rgba(246, 238, 150, 0.99); } html.clearly_highlighting_enabled ::selection { background: rgba(246, 238, 150, 0.99); } /* cursor */ html.clearly_highlighting_enabled {    /* cursor and hot-spot position -- requires a default cursor, after the URL one */    cursor: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--cursor.png") 14 16, text; } /* highlight tag */ em.clearly_highlight_element {    font-style: inherit !important; font-weight: inherit !important;    background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--yellow.png");    background-repeat: repeat-x; background-position: top left; background-size: 100% 100%; } /* the delete-buttons are positioned relative to this */ em.clearly_highlight_element.clearly_highlight_first { position: relative; } /* delete buttons */ em.clearly_highlight_element a.clearly_highlight_delete_element {    display: none; cursor: pointer;    padding: 0; margin: 0; line-height: 0;    position: absolute; width: 34px; height: 34px; left: -17px; top: -17px;    background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--delete-sprite.png"); background-repeat: no-repeat; background-position: 0px 0px; } em.clearly_highlight_element a.clearly_highlight_delete_element:hover { background-position: -34px 0px; } /* retina */ @media (min--moz-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {    em.clearly_highlight_element { background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--yellow@2x.png"); }    em.clearly_highlight_element a.clearly_highlight_delete_element { background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--delete-sprite@2x.png"); background-size: 68px 34px; } } </style>
    <style>[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }</style>
  </head>
  <body bgcolor="#ffffff"><div id="cboxOverlay" style="display: none;"></div><div id="colorbox" class="" style="padding-bottom: 57px; padding-right: 28px; display: none;"><div id="cboxWrapper" style=""><div id="false" style=""><div id="cboxTopLeft" style="float: left;"></div><div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;"></div></div><div id="false" style="clear: left;"><div id="cboxMiddleLeft" style="float: left;"></div><div id="cboxContent" style="float: left;"><div id="cboxLoadedContent" class="" style="width: 0px; height: 0px; overflow: hidden;"></div><div id="cboxLoadingOverlay" class="" style=""></div><div id="cboxLoadingGraphic" class="" style=""></div><div id="cboxTitle" class="" style=""></div><div id="cboxCurrent" class="" style=""></div><div id="cboxNext" class="" style=""></div><div id="cboxPrevious" class="" style=""></div><div id="cboxSlideshow" class="" style=""></div><div id="cboxClose" class="" style=""></div></div><div id="cboxMiddleRight" style="float: left;"></div></div><div id="false" style="clear: left;"><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div id="false" style="position: absolute; width: 9999px; visibility: hidden; display: none;"></div></div>
<center>
  <table cellpadding="2" cellspacing="0" border="0" bgcolor="#ff0000" width="100%">
    <tbody><tr>
      <td align="center" valign="middle" bgcolor="#ff0000" width="100%"><table cellpadding="5" cellspacing="0" border="0" bgcolor="#ffffff" width="100%">
          <tbody><tr>
            <td align="left" valign="middle" bgcolor="#ff0000"><font face="Helvetica" color="#ffffff"> <b>NC STATE</b> UNIVERSITY </font></td>
          </tr>
          <tr>
            <td align="center" valign="middle" bgcolor="#ffffff">&nbsp;
              <h1> Index of Learning Styles Questionnaire </h1>
              <h3> Barbara A. Soloman<br>
              Richard M. Felder</h3>
              <h3>North Carolina State University<br>
              </h3></td>
          </tr>
          <tr>
            <td align="center" valign="middle" bgcolor="#ffffff"><hr width="100%"></td>
          </tr>
          <tr>
            <td align="left" valign="middle" bgcolor="#ffffff">
            <div>
              <form action="/submitsurvey" method="post">
                <b> Directions </b>
                <p> Please provide us with your full name. Your name will be printed on
                  the information that is returned to you.
                
                </p><dl>
                  <dt>
                  </dt><dd><b>Full Name</b>
                  </dd><dd>
                    <input type="text" name="survey[writername]" size="40">
                </dd></dl>
                For each of the 44 questions below select either "a" or
                "b" to indicate your answer. Please choose only one answer
                for each question. If both "a" and "b" seem to
                apply to you, choose the one that applies more frequently. When you
                are finished selecting answers to each question please select the
                submit button at the end of the form.
                <ol>
                  <li>I understand something better after I<br>
                    <input type="radio" name="survey[q1]" value="a">
                    &nbsp; <b>(a)</b> try it out.<br>
                    <input type="radio" name="survey[q1]" value="b">
                    &nbsp; <b>(b)</b> think it through.</li><p>
                  </p><li>I would rather be considered<br>
                    <input type="radio" name="survey[q2]" value="a">
                    &nbsp; <b>(a)</b> realistic.<br>
                    <input type="radio" name="survey[q2]" value="b">
                    &nbsp; <b>(b)</b> innovative.</li><p>
                  </p><li>When I think about what I did yesterday, I am most likely to
                    get<br>
                    <input type="radio" name="survey[q3]" value="a">
                    &nbsp; <b>(a)</b> a picture.<br>
                    <input type="radio" name="survey[q3]" value="b">
                    &nbsp; <b>(b)</b> words.</li><p>
                  </p><li>I tend to<br>
                    <input type="radio" name="survey[q4]" value="a">
                    &nbsp; <b>(a)</b> understand details of a subject but may be fuzzy about its overall
                    structure.<br>
                    <input type="radio" name="survey[q4]" value="b">
                    &nbsp; <b>(b)</b> understand the overall structure but may be fuzzy about
                    details.</li><p>
                  </p><li>When I am learning something new, it helps me to<br>
                    <input type="radio" name="survey[q5]" value="a">
                    &nbsp; <b>(a)</b> talk about it.<br>
                    <input type="radio" name="survey[q5]" value="b">
                    &nbsp; <b>(b)</b> think about it.</li><p>
                </p></ol>
                When you have completed filling out the above form please click on
                the Submit button below. Your results will be returned to you. If you
                are not satisified with your answers above please click on Reset to
                clear the form.
                <dl>
                  <dt>
                  </dt><dd>
                    <input type="submit" value="Submit">
                    <input type="reset" value="Reset">
                </dd></dl>
              </form>
              </div>
              </td>
          </tr>
          <tr>
            <td align="center" valign="middle" bgcolor="#ffffff"><hr width="100%"></td>
          </tr>
          <tr>
            <td align="left" valign="middle" bgcolor="#ffffff"><div>
                <address>
                Dr. Richard Felder, <a href="mailto:felder@ncsu.edu">felder@ncsu.edu</a><br>
                </address>
              </div></td>
          </tr>
        </tbody></table></td>
    </tr>
  </tbody></table>
</center>


</body>
</html>