
<!DOCTYPE html>
<html>
<head>
<title>basic</title>
<%- include head_form.ejs %>
</head>
<body bgcolor="#ffffff">
<div><%- JSON.stringify(data.inputdata) %></div>
	<div id="cboxOverlay" style="display: none;"></div>
	<div id="colorbox" class=""
		style="padding-bottom: 57px; padding-right: 28px; display: none;">
		<div id="cboxWrapper" style="">
			<div id="false" style="">
				<div id="cboxTopLeft" style="float: left;"></div>
				<div id="cboxTopCenter" style="float: left;"></div>
				<div id="cboxTopRight" style="float: left;"></div>
			</div>
			<div id="false" style="clear: left;">
				<div id="cboxMiddleLeft" style="float: left;"></div>
				<div id="cboxContent" style="float: left;">
					<div id="cboxLoadedContent" class=""
						style="width: 0px; height: 0px; overflow: hidden;"></div>
					<div id="cboxLoadingOverlay" class="" style=""></div>
					<div id="cboxLoadingGraphic" class="" style=""></div>
					<div id="cboxTitle" class="" style=""></div>
					<div id="cboxCurrent" class="" style=""></div>
					<div id="cboxNext" class="" style=""></div>
					<div id="cboxPrevious" class="" style=""></div>
					<div id="cboxSlideshow" class="" style=""></div>
					<div id="cboxClose" class="" style=""></div>
				</div>
				<div id="cboxMiddleRight" style="float: left;"></div>
			</div>
			<div id="false" style="clear: left;">
				<div id="cboxBottomLeft" style="float: left;"></div>
				<div id="cboxBottomCenter" style="float: left;"></div>
				<div id="cboxBottomRight" style="float: left;"></div>
			</div>
		</div>
		<div id="false"
			style="position: absolute; width: 9999px; visibility: hidden; display: none;"></div>
	</div>
	<center>
		<table cellpadding="5" cellspacing="0" border="0" bgcolor="#ffffff" width="100%">
			<tbody>
				<tr>
					<td align="left" valign="middle" bgcolor="#ffffff">
						<div>
							<form action="/submitsurvey" method="post">
							<input type="hidden" name="pid" value="<%- data._id %>"/>
								<!-- ***** content ***** -->
								<div id="content"><%- data.form %></div>
							</form>
						</div></td>
				</tr>
			</tbody>
		</table>
	</center>


<script src="/javascripts/form.js"></script>
</body>
</html>