
<!DOCTYPE html>
<html>
<head>
<title>Top</title>
<meta name="viewport" content="width=device-width">
<!-- script src="/javascripts/jquery.mobile-1.4.1.js"></script -->
<!-- script src="/socket.io/socket.io.js"></script -->


<style id="clearly_highlighting_css" type="text/css">
/* selection */
html.clearly_highlighting_enabled ::-moz-selection {
	background: rgba(246, 238, 150, 0.99);
}

html.clearly_highlighting_enabled ::selection {
	background: rgba(246, 238, 150, 0.99);
} /* cursor */
html.clearly_highlighting_enabled {
	/* cursor and hot-spot position -- requires a default cursor, after the URL one */
	cursor:
		url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--cursor.png")
		14 16, text;
}
/* highlight tag */
em.clearly_highlight_element {
	font-style: inherit !important;
	font-weight: inherit !important;
	background-image:
		url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--yellow.png");
	background-repeat: repeat-x;
	background-position: top left;
	background-size: 100% 100%;
}
/* the delete-buttons are positioned relative to this */
em.clearly_highlight_element.clearly_highlight_first {
	position: relative;
}
/* delete buttons */
em.clearly_highlight_element a.clearly_highlight_delete_element {
	display: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	line-height: 0;
	position: absolute;
	width: 34px;
	height: 34px;
	left: -17px;
	top: -17px;
	background-image:
		url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--delete-sprite.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

em.clearly_highlight_element a.clearly_highlight_delete_element:hover {
	background-position: -34px 0px;
} /* retina */
@media ( min--moz-device-pixel-ratio : 2) , ( -webkit-min-device-pixel-ratio : 2)
		, ( min-device-pixel-ratio : 2) {
	em.clearly_highlight_element {
		background-image:
			url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--yellow@2x.png");
	}
	em.clearly_highlight_element a.clearly_highlight_delete_element {
		background-image:
			url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--delete-sprite@2x.png");
		background-size: 68px 34px;
	}
}
</style>
<style>
[touch-action="none"] {
	-ms-touch-action: none;
	touch-action: none;
}

[touch-action="pan-x"] {
	-ms-touch-action: pan-x;
	touch-action: pan-x;
}

[touch-action="pan-y"] {
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}

[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]
	{
	-ms-touch-action: pan-x pan-y;
	touch-action: pan-x pan-y;
}
</style>
</head>
<body bgcolor="#ffffff">
	<div id="cboxOverlay" style="display: none;"></div>
	<div id="colorbox" class=""
		style="padding-bottom: 57px; padding-right: 28px; display: none;">
		<div id="cboxWrapper" style="">
			<div id="false" style="">
				<div id="cboxTopLeft" style="float: left;"></div>
				<div id="cboxTopCenter" style="float: left;"></div>
				<div id="cboxTopRight" style="float: left;"></div>
			</div>
			<div id="false" style="clear: left;">
				<div id="cboxMiddleLeft" style="float: left;"></div>
				<div id="cboxContent" style="float: left;">
					<div id="cboxLoadedContent" class=""
						style="width: 0px; height: 0px; overflow: hidden;"></div>
					<div id="cboxLoadingOverlay" class="" style=""></div>
					<div id="cboxLoadingGraphic" class="" style=""></div>
					<div id="cboxTitle" class="" style=""></div>
					<div id="cboxCurrent" class="" style=""></div>
					<div id="cboxNext" class="" style=""></div>
					<div id="cboxPrevious" class="" style=""></div>
					<div id="cboxSlideshow" class="" style=""></div>
					<div id="cboxClose" class="" style=""></div>
				</div>
				<div id="cboxMiddleRight" style="float: left;"></div>
			</div>
			<div id="false" style="clear: left;">
				<div id="cboxBottomLeft" style="float: left;"></div>
				<div id="cboxBottomCenter" style="float: left;"></div>
				<div id="cboxBottomRight" style="float: left;"></div>
			</div>
		</div>
		<div id="false"
			style="position: absolute; width: 9999px; visibility: hidden; display: none;"></div>
	</div>
	<center>
		<table cellpadding="2" cellspacing="0" border="0" bgcolor="#ff0000" width="100%">
			<tbody>
				<tr>
					<td align="center" valign="middle" bgcolor="#ff0000" width="100%">
					
					
					
						<table cellpadding="5" cellspacing="0" border="0" bgcolor="#ffffff" width="100%">
							<tbody>
								<tr>
									<td align="left" valign="middle" bgcolor="#ff0000"><font
										face="Helvetica" color="#ffffff"> <b>SURVEY G
									</font>
									</td>
								</tr>
								<tr>
									<td align="center" valign="middle" bgcolor="#ffffff">&nbsp;
										<h1>Questionnaire</h1>
									</td>
								</tr>
								<tr>
									<td align="center" valign="middle" bgcolor="#ffffff"><hr width="100%">
									</td>
								</tr>
								<tr>
									<td align="left" valign="middle" bgcolor="#ffffff">
										<div>
											<form action="/submitsurvey" method="post">
												<!-- ***** content ***** -->
												<div id="content"></div>
											</form>
										</div></td>
								</tr>
								<tr>
									<td align="center" valign="middle" bgcolor="#ffffff"><hr
											width="100%">
									</td>
								</tr>
							</tbody>
						</table>






					</td>
				</tr>
			</tbody>
		</table>
	</center>


</body>
</html>